* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    margin: 0;
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
}

.app {
    background: linear-gradient(135deg, #0f172a, #020617);
    border-radius: 12px;
    padding: 20px;
    color: #e5e7eb;
}

.app-header {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background: #020617;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: #020617;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.card h3 {
    margin-top: 0;
    color: #60a5fa;
}

.inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.inputs input {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.timer {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.timer.pink {
    background: #3f0f2a;
    color: #ff4d9d;
}

.buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.btn {
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    color: #020617;
    font-weight: bold;
}

.btn.blue { background: #38bdf8; }
.btn.orange { background: #fb923c; }
.btn.red { background: #f87171; }

.colors {
    display: flex;
    gap: 8px;
    margin: 10px 0;
}

.colors span {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #1e293b;
}

h2{
    color: #357D89;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;;;
}